@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v20/memnYaGs126MiZpBA-UFUKWyV9hrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v20/memnYaGs126MiZpBA-UFUKXGUdhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v20/memnYaGs126MiZpBA-UFUKWiUNhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v20/memnYaGs126MiZpBA-UFUKW-U9hrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf) format('truetype');
}
.bilometro-caes,
.bilometro-fie {
  width: 426px !important;
  background: #f0f0f0 !important;
  background-color: transparent !important;
  font-family: 'Open Sans', sans-serif !important;
  max-height: 496px !important;
  position: fixed !important;
  z-index: 32767 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 4px !important;
  border-radius: 10px !important;
}
.bilometro-caes *,
.bilometro-fie * {
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 0px !important;
}
.bilometro-caes h1,
.bilometro-fie h1 {
  width: 100% !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  padding: 10px 10px !important;
  color: #fff !important;
  line-height: 34px !important;
  border-radius: 10px 10px 0 0 !important;
  position: relative !important;
  height: 54px !important;
}
.bilometro-caes h1 a,
.bilometro-fie h1 a,
.bilometro-caes h1 .bilometro-ages,
.bilometro-fie h1 .bilometro-ages {
  float: left !important;
  border-radius: 5px !important;
}
.bilometro-caes h1 a img,
.bilometro-fie h1 a img,
.bilometro-caes h1 .bilometro-ages img,
.bilometro-fie h1 .bilometro-ages img {
  vertical-align: top !important;
  width: 35px !important;
}
.bilometro-caes h1 a span,
.bilometro-fie h1 a span,
.bilometro-caes h1 .bilometro-ages span,
.bilometro-fie h1 .bilometro-ages span {
  position: absolute !important;
  z-index: 100 !important;
  width: 22px !important;
  height: 22px !important;
  background: red !important;
  display: block !important;
  border-radius: 20px !important;
  right: 3px !important;
  bottom: 3px !important;
  font-size: 10px !important;
  color: #fff !important;
  overflow: hidden !important;
  text-align: center !important;
  line-height: 22px !important;
  font-weight: bold !important;
  display: none !important;
}
.bilometro-caes h1 > span,
.bilometro-fie h1 > span {
  display: inline-block !important;
  margin-left: 10px !important;
}
.bilometro-caes h1 span,
.bilometro-fie h1 span {
  color: white !important;
  font-size: 18px !important;
}
.bilometro-caes h1 div,
.bilometro-fie h1 div {
  position: absolute !important;
  right: 7px !important;
  top: 5px !important;
  font-size: 1.3em !important;
}
.bilometro-caes h1 div a,
.bilometro-fie h1 div a,
.bilometro-caes h1 div .bilometro-ages,
.bilometro-fie h1 div .bilometro-ages {
  float: right !important;
  padding: 5px;
}
.bilometro-caes h1 div a img,
.bilometro-fie h1 div a img,
.bilometro-caes h1 div .bilometro-ages img,
.bilometro-fie h1 div .bilometro-ages img {
  width: 34px;
  opacity: 0.3;
  filter: brightness(100%);
  vertical-align: top;
}
.bilometro-caes h1 div a img:hover,
.bilometro-fie h1 div a img:hover,
.bilometro-caes h1 div .bilometro-ages img:hover,
.bilometro-fie h1 div .bilometro-ages img:hover {
  opacity: 1;
}
.bilometro-caes h1 div a img.fa-minus,
.bilometro-fie h1 div a img.fa-minus,
.bilometro-caes h1 div .bilometro-ages img.fa-minus,
.bilometro-fie h1 div .bilometro-ages img.fa-minus {
  height: 41px;
}
.bilometro-caes hr,
.bilometro-fie hr {
  display: block !important;
  float: left !important;
  position: relative !important;
  left: -15px !important;
  width: 100% !important;
  border: solid 1px #F7F7F7 !important;
  margin: 10px 0 !important;
  border: solid 1px #003c6a !important;
  width: 426px !important;
  margin-left: 0 !important;
  left: 0px !important;
  margin: 0 !important;
}
.bilometro-caes .bilometro-ales,
.bilometro-fie .bilometro-ales {
  border-top: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  opacity: 1 !important;
  text-align: left !important;
  visibility: visible !important;
  position: static !important;
  display: block !important;
  width: 426px !important;
  max-height: 400px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  background: #fff !important;
  margin-top: -20px !important;
  top: -5px !important;
}
.bilometro-caes .bilometro-ales::-webkit-scrollbar,
.bilometro-fie .bilometro-ales::-webkit-scrollbar {
  width: 6.16px !important;
}
.bilometro-caes .bilometro-ales::-webkit-scrollbar-track,
.bilometro-fie .bilometro-ales::-webkit-scrollbar-track {
  background: #F8F8F8 !important;
  border-radius: 0 0 7px 0 !important;
  overflow: hidden !important;
}
.bilometro-caes .bilometro-ales::-webkit-scrollbar-thumb,
.bilometro-fie .bilometro-ales::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa {
  width: 100% !important;
  background: white !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa.bilometro-ilhe table,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa.bilometro-ilhe table {
  border-top: none !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa.bilometro-diga,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa.bilometro-diga {
  display: none;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa:hover,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa:hover {
  background: #F8F8F8 !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table {
  height: 127px;
  background-image: none !important;
  padding: 10px 0 10px 10px !important;
  border-top: 1px solid #eee !important;
  border-collapse: separate !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr:hover,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr:hover {
  _background-color: #fafafa !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td {
  border: none !important;
  font-size: 10px !important;
  vertical-align: top !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td a,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td a,
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td .bilometro-ages,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td .bilometro-ages {
  color: #333 !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td a:hover,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td a:hover,
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td .bilometro-ages:hover,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td .bilometro-ages:hover {
  text-decoration: none !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-tule,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-tule {
  width: 110px !important;
  padding: 0px;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-tule div,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-tule div {
  display: block !important;
  border: 1px solid #EDEDED !important;
  border-radius: 5px !important;
  margin-right: 10px !important;
  background-color: #ffffff !important;
  width: 100px !important;
  height: 100px !important;
  background-position: center !important;
  background-size: 85% !important;
  background-repeat: no-repeat !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec {
  vertical-align: middle !important;
  padding: 0px 7px 0px 0px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec p,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec p {
  width: 100% !important;
  color: black !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec .bilometro-cama,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec .bilometro-cama {
  font-size: 9px !important;
  color: #A2A2A2 !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris {
  display: none;
  color: #F7A51E !important;
  font-size: 11px !important;
  border-radius: 5px !important;
  padding: 1px 3px 2px !important;
  position: relative !important;
  left: -2px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris span,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris span {
  color: inherit !important;
  font-size: inherit !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris:hover,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris:hover {
  background: #FBBA00 !important;
  color: #fff !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris:hover .bilometro-ateu,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris:hover .bilometro-ateu {
  filter: none;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris .bilometro-ateu,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris .bilometro-ateu {
  vertical-align: sub;
  display: none;
  width: 15px;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris .bilometro-ateu.bilometro-luxo,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-sec a.bilometro-ris .bilometro-ateu.bilometro-luxo {
  display: inline;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus {
  width: 100px !important;
  padding: 0px !important;
  overflow: visible !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus .bilometro-usai,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus .bilometro-usai {
  width: 100px !important;
  height: 47px !important;
  display: block !important;
  margin-bottom: 3px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus .bilometro-usai img,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus .bilometro-usai img {
  width: 100px !important;
  height: 47px !important;
  border-radius: 5px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus p,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table tr td.bilometro-reus p {
  line-height: 10px !important;
  text-align: center !important;
  background-color: #eee !important;
  padding: 3px !important;
  border: 1px solid #ddd !important;
  color: #777 !important;
  box-shadow: 0px 1px 0px #fff !important;
  font-style: italic !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td {
  color: #555 !important;
  position: relative !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td p,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td p {
  font-size: 11px !important;
  line-height: 15px !important;
  max-height: 60px !important;
  overflow: hidden !important;
  margin-bottom: 5px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe {
  line-height: 26px !important;
  margin-bottom: 0px !important;
  text-align: center !important;
  float: left !important;
  padding: 0px 10px 0px 0px !important;
  font-weight: 600 !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe a,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe a,
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe .bilometro-ages,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe .bilometro-ages {
  width: 100px !important;
  height: 31px !important;
  line-height: 31px !important;
  border-radius: 5px !important;
  float: left !important;
  color: #fff !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe a .bilometro-rafo,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe a .bilometro-rafo,
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe .bilometro-ages .bilometro-rafo,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe .bilometro-ages .bilometro-rafo,
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe a .bilometro-rafo span,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe a .bilometro-rafo span,
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe .bilometro-ages .bilometro-rafo span,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-mofe .bilometro-ages .bilometro-rafo span {
  font-weight: bold !important;
  color: #fff !important;
  font-size: 16px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi {
  margin: 5px 0px 0px !important;
  border: 0px !important;
  padding: 0px !important;
  font-size: 11px !important;
  line-height: 14px !important;
  letter-spacing: 0 !important;
  width: 100px !important;
  min-height: 14px !important;
  height: 14px !important;
  white-space: nowrap !important;
  text-align: center !important;
  float: left !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi *,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi * {
  font-size: 11px !important;
  color: #555555 !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi strong,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi strong {
  font-weight: normal !important;
  line-height: 14px !important;
  letter-spacing: -0.7px !important;
  font-style: italic !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi strong span,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa table td .bilometro-urgi strong span {
  font-weight: bold !important;
  letter-spacing: 0 !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-troo,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-troo {
  display: none;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-troo.bilometro-bois,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-troo.bilometro-bois {
  display: block;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas {
  padding-left: 2px !important;
  border-left: solid 8px #F7A51E !important;
  height: 77px;
  padding: 0px 0px 0px 10px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-tule,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-tule {
  width: 60px !important;
  padding-top: 14px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-tule div,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-tule div {
  width: 50px !important;
  height: 50px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas td.bilometro-sec,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas td.bilometro-sec {
  padding: 5px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas td.bilometro-sec p.bilometro-sec,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas td.bilometro-sec p.bilometro-sec {
  height: 44px;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas td.bilometro-sec .bilometro-cama,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas td.bilometro-sec .bilometro-cama {
  margin: 0px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-reus,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-reus {
  padding-top: 15px !important;
}
.bilometro-caes .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-reus .bilometro-usai,
.bilometro-fie .bilometro-ales .bilometro-mas .bilometro-boa .bilometro-lhas .bilometro-reus .bilometro-usai {
  display: none !important;
}
.bilometro-caes .bilometro-duas,
.bilometro-fie .bilometro-duas {
  text-align: center !important;
  background: #fff !important;
  border-top: 1px solid #EDEDED;
  height: 40px !important;
  border-radius: 10px !important;
  padding: 8px !important;
  font-size: 12px !important;
  border-radius: 0 0 10px 10px !important;
}
.bilometro-caes .bilometro-duas .bilometro-per,
.bilometro-fie .bilometro-duas .bilometro-per {
  width: 280px !important;
  color: red !important;
  display: inline-block !important;
  text-align: left !important;
}
.bilometro-caes .bilometro-duas .bilometro-per.bilometro-vau,
.bilometro-fie .bilometro-duas .bilometro-per.bilometro-vau {
  opacity: 0.2;
}
.bilometro-caes .bilometro-duas .bilometro-per.bilometro-rufo,
.bilometro-fie .bilometro-duas .bilometro-per.bilometro-rufo {
  cursor: default !important;
  text-decoration: none !important;
}
.bilometro-caes .bilometro-duas .bilometro-per.bilometro-rufo span,
.bilometro-fie .bilometro-duas .bilometro-per.bilometro-rufo span {
  color: #4caf50 !important;
}
.bilometro-caes .bilometro-duas .bilometro-per.bilometro-rufo .bilometro-ateu,
.bilometro-fie .bilometro-duas .bilometro-per.bilometro-rufo .bilometro-ateu {
  background-color: #4caf50 !important;
}
.bilometro-caes .bilometro-duas .bilometro-per span,
.bilometro-fie .bilometro-duas .bilometro-per span {
  font-size: 12px;
  color: red !important;
}
.bilometro-caes .bilometro-duas .bilometro-per .bilometro-ateu,
.bilometro-fie .bilometro-duas .bilometro-per .bilometro-ateu {
  width: 15px !important;
  padding: 4px !important;
  margin-right: 4px !important;
  border-radius: 4px !important;
  background-color: red !important;
  vertical-align: middle !important;
  box-sizing: content-box !important;
}
.bilometro-caes .bilometro-oro,
.bilometro-fie .bilometro-oro {
  filter: sepia() saturate(10000%) hue-rotate(305deg);
}
.bilometro-caes .bilometro-firo,
.bilometro-fie .bilometro-firo {
  filter: sepia() saturate(10000%) hue-rotate(305deg);
}
.bilometro-caes.bilometro-sujo,
.bilometro-fie.bilometro-sujo {
  width: 56px !important;
  overflow: hidden !important;
}
.bilometro-caes.bilometro-sujo > *,
.bilometro-fie.bilometro-sujo > * {
  display: none !important;
}
.bilometro-caes.bilometro-sujo > h1,
.bilometro-fie.bilometro-sujo > h1 {
  display: block !important;
}
.bilometro-caes.bilometro-sujo > h1 a span,
.bilometro-fie.bilometro-sujo > h1 a span,
.bilometro-caes.bilometro-sujo > h1 .bilometro-ages span,
.bilometro-fie.bilometro-sujo > h1 .bilometro-ages span {
  display: block !important;
}
.bilometro-caes.bilometro-sujo > h1 span,
.bilometro-fie.bilometro-sujo > h1 span,
.bilometro-caes.bilometro-sujo > h1 div,
.bilometro-fie.bilometro-sujo > h1 div {
  display: none !important;
}
.bilometro-caes a,
.bilometro-fie a,
.bilometro-caes .bilometro-ages,
.bilometro-fie .bilometro-ages {
  transition-property: color, border, background, opacity !important;
  transition-duration: 0.1s !important;
  transition-timing-function: ease-in !important;
  text-decoration: none !important;
}
.bilometro-caes a:link,
.bilometro-fie a:link,
.bilometro-caes .bilometro-ages:link,
.bilometro-fie .bilometro-ages:link {
  color: #fff !important;
}
.bilometro-caes a:visited,
.bilometro-fie a:visited,
.bilometro-caes .bilometro-ages:visited,
.bilometro-fie .bilometro-ages:visited {
  color: #fff !important;
}
.bilometro-caes a:active,
.bilometro-fie a:active,
.bilometro-caes .bilometro-ages:active,
.bilometro-fie .bilometro-ages:active {
  color: #fff !important;
}
.bilometro-caes a:hover,
.bilometro-fie a:hover,
.bilometro-caes .bilometro-ages:hover,
.bilometro-fie .bilometro-ages:hover {
  color: #fff !important;
  text-decoration: underline !important;
}
.bilometro-caes table,
.bilometro-fie table {
  border-collapse: unset !important;
  transition-property: color, border, background, opacity !important;
  transition-duration: 0.1s !important;
  transition-timing-function: ease-in !important;
}
.bilometro-caes div,
.bilometro-fie div {
  transition-property: color, border, background, opacity !important;
  transition-duration: 0.1s !important;
  transition-timing-function: ease-in !important;
}
.bilometro-caes *,
.bilometro-fie * {
  margin: 0px !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.bilometro-caes .bilometro-ages,
.bilometro-fie .bilometro-ages {
  border: 0px solid transparent;
  cursor: pointer;
}

.bilometro-fie .row.bilometro-mas {
  display: block !important;
}
.bilometro-fie #bilometro-seco {
  margin: 10px 10px 5px 10px !important;
  border-radius: 5px !important;
  justify-content: center !important;
  align-items: center !important;
  height: 40px !important;
  text-decoration: none !important;
  color: white !important;
  cursor: pointer !important;
  display: none !important;
}
.bilometro-fie #bilometro-seco span {
  font-size: 16px !important;
}
.bilometro-fie #bilometro-seco.bilometro-vime {
  display: flex !important;
}
.bilometro-fie .bilometro-seta {
  background: white !important;
}
.bilometro-fie .bilometro-duas {
  border-top: 0px solid transparent !important;
  height: 5px !important;
  padding: 0px !important;
}
.bilometro-fie .bilometro-boa table {
  height: 85px !important;
}
.bilometro-fie .bilometro-mofe {
  margin-top: 5px ​!important;
}
.bilometro-fie .bilometro-bobo {
  text-align: center;
  font-size: 12px;
  height: 17px;
  font-weight: bold;
  width: 100%;
  margin-right: 10px !important;
  position: relative;
  top: -2px;
}
.bilometro-fie #bilometro-alas {
  padding-bottom: 10px;
}
.bilometro-fie #bilometro-alas .bilometro-boa {
  cursor: pointer;
}
.bilometro-fie #bilometro-alas .bilometro-reus {
  width: 200px !important;
}
.bilometro-fie #bilometro-alas .bilometro-reus .bilometro-mofe {
  width: 100% !important;
  position: relative;
}
.bilometro-fie #bilometro-alas .bilometro-reus .bilometro-mofe #bilometro-isca {
  height: 50px !important;
  line-height: 20px !important;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100% !important;
}
.bilometro-fie #bilometro-alas .bilometro-reus .bilometro-mofe #bilometro-isca .bilometro-rafo {
  text-align: center;
  width: 100%;
  font-size: 12px !important;
  margin-right: 27px !important;
  margin-left: 0px !important;
  overflow: hidden;
}
.bilometro-fie #bilometro-alas .bilometro-reus .bilometro-mofe .facopy {
  position: absolute;
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.bilometro-fie #bilometro-sec {
  font-size: 12px !important;
  padding-right: 10px !important;
  line-height: 20px !important;
  text-align: center;
}
.bilometro-fie .bilometro-dama {
  width: 50px;
}
.bilometro-fie .bilometro-dama div {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bilometro-fie .bilometro-dama div .faticket {
  width: 40px;
  height: 40px;
}

.bilometro-gaga {
  background: #f6f6f6 !important;
  position: fixed !important;
  bottom: 0px !important;
  left: 60px !important;
  right: 20px !important;
  z-index: 2147483649 !important;
  box-sizing: content-box !important;
}
.bilometro-gaga * {
  font-size: 12px !important;
  font-family: 'Consolas' !important;
}
.bilometro-gaga .bilometro-gula {
  position: absolute !important;
  width: 45px !important;
  bottom: 5px !important;
  left: -51px !important;
  margin: 0px !important;
}
.bilometro-gaga .bilometro-gula .bilometro-una {
  height: 30px !important;
  width: 30px !important;
  background: rgba(0, 0, 0, 0.2) !important;
  padding: 5px !important;
  margin: 5px 0px 0px 0px !important;
  box-sizing: content-box !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  opacity: 0.2;
  transition: opacity 0.1s ease-out;
}
.bilometro-gaga .bilometro-gula .bilometro-una:hover,
.bilometro-gaga .bilometro-gula .bilometro-una.bilometro-vogo {
  opacity: 1;
}
.bilometro-gaga .bilometro-gula .bilometro-una .bilometro-nega {
  width: 30px !important;
  height: 30px !important;
}
.bilometro-gaga .bilometro-tau {
  display: none !important;
}
.bilometro-gaga .bilometro-copa {
  box-shadow: 0px 0px 5px 0px black;
  padding: 5px !important;
  display: grid;
  column-gap: 10px !important;
}
.bilometro-gaga .bilometro-copa[papes="geio"] {
  grid-template-columns: 400px auto 200px !important;
}
.bilometro-gaga .bilometro-copa[papes="mexia"] {
  grid-template-columns: 400px auto 200px !important;
}
.bilometro-gaga .bilometro-copa[papes="mexia"] .bilometro-xixi {
  margin: 0px !important;
  overflow-y: scroll !important;
  height: 83px !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pus {
  border-right: 1px solid black !important;
  margin: 0px !important;
  padding-bottom: 25px !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pus .bilometro-somo {
  width: 1%;
  white-space: nowrap;
}
.bilometro-gaga .bilometro-copa .bilometro-som {
  margin: 0px !important;
  border-right: 1px solid black !important;
}
.bilometro-gaga .bilometro-copa .bilometro-ouco {
  margin: 0px !important;
}
.bilometro-gaga .bilometro-copa .bilometro-ouco td label {
  cursor: pointer !important;
  text-transform: none !important;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.bilometro-gaga .bilometro-copa .bilometro-ouco td input {
  cursor: pointer !important;
  height: 17px !important;
  width: 17px !important;
  margin: 0px !important;
  margin-right: 5px !important;
  position: relative !important;
  visibility: visible !important;
  left: unset !important;
  display: inline-block !important;
}
.bilometro-gaga .bilometro-copa .bilometro-ouco td input[type="checkbox"] {
  -webkit-appearance: checkbox !important;
}
.bilometro-gaga .bilometro-copa .bilometro-ouco td span {
  font-size: 12px !important;
  vertical-align: top !important;
  display: inline-block !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois {
  border: none !important;
  margin: 0px !important;
  width: 100% !important;
  border-spacing: 1px !important;
  border-collapse: inherit !important;
  table-layout: unset !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois tbody {
  background: none !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois tr {
  border: 0px !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois td {
  text-align: left !important;
  padding: 0px 10px !important;
  line-height: 17.14px !important;
  border: 0px !important;
  color: black !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois td.bilometro-cres {
  color: red !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois td.bilometro-ovei {
  color: orange !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois td.bilometro-zoes {
  color: green !important;
}
.bilometro-gaga .bilometro-copa .bilometro-pois .bilometro-diga {
  display: none !important;
}
.bilometro-gaga .bilometro-copa .bilometro-somo {
  font-weight: bold !important;
}
.bilometro-gaga .bilometro-copa .bilometro-covo {
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  border: 1px solid white !important;
  border-radius: 4px !important;
  padding: 6px 7px 7px !important;
  color: white !important;
  cursor: pointer !important;
  background: #1569b3 !important;
  padding: 4px !important;
  width: 100% !important;
}
.bilometro-gaga .bilometro-copa .bilometro-covo:disabled {
  opacity: 0.3;
}

@keyframes class-animate-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bilometro-ovem {
  width: 493px !important;
  background: #fff !important;
  border-radius: 10px !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25) !important;
  position: fixed !important;
  left: calc(50% - 275px) !important;
  z-index: 2147483647 !important;
  padding: 0px !important;
  margin: 0 auto !important;
  letter-spacing: normal !important;
  font-family: "Open Sans", sans-serif !important;
  border: 1px solid black !important;
}
.bilometro-ovem .bilometro-unhe {
  position: relative !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-meio {
  cursor: pointer !important;
  padding: 3px !important;
  top: -25px !important;
  right: -25px !important;
  width: 22px !important;
  height: 22px !important;
  box-sizing: content-box !important;
  opacity: 1 !important;
  z-index: 100 !important;
  position: absolute !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-tiro {
  border-bottom: 1px solid #E0E0E0 !important;
  display: grid !important;
  grid-template-columns: 85px auto !important;
  padding: 16px !important;
  align-items: center !important;
  text-transform: uppercase !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-tiro .bilometro-nega {
  width: 85px !important;
  height: 85px !important;
  border-radius: 21% !important;
  background-size: cover !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-tiro .bilometro-se {
  padding: 0px 10px !important;
  text-align: center !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-tiro .bilometro-se * {
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  letter-spacing: 0em !important;
  line-height: 24px !important;
  color: #6a6a6a !important;
  text-transform: none !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-tiro .bilometro-se b {
  font-weight: 900 !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca {
  font-family: "Open Sans", sans-serif !important;
  text-align: left !important;
  padding: 30px 30px 0px !important;
  border-left: 1px dotted #eeeeee !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane {
  width: 100% !important;
  overflow: hidden !important;
  overflow-wrap: anywhere !important;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
  letter-spacing: normal !important;
  line-height: 1.2 !important;
  text-shadow: none !important;
  text-align: left !important;
  float: none !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-nome {
  width: 100% !important;
  font-family: "Open Sans" !important;
  font-weight: bold !important;
  font-size: 30px !important;
  letter-spacing: -0.04em !important;
  text-align: center !important;
  text-transform: none !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-muro,
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-sec {
  display: block;
  font-family: "Open Sans" !important;
  font-size: 15px !important;
  letter-spacing: -0.04em !important;
  line-height: 20px !important;
  text-size-adjust: 100% !important;
  text-align: center !important;
  height: auto !important;
  margin: 0px !important;
  padding: 0px !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-sec {
  font-weight: normal !important;
  margin: 20px 0px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-diz {
  font-family: "Open Sans" !important;
  letter-spacing: -0.04em !important;
  line-height: 26px !important;
  margin: -20px -20px 30px !important;
  justify-content: center !important;
  align-content: center !important;
  display: flex;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-diz .bilometro-nona {
  font-weight: 300 !important;
  font-size: 20px !important;
  margin-right: 5px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-diz .bilometro-mujo {
  font-weight: bold !important;
  font-size: 35px !important;
  margin-left: 5px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-urze {
  display: block;
  margin-top: 10px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-urze .bilometro-piza {
  height: 10px !important;
  background: #f5f5f5 !important;
  margin-bottom: 10px;
  position: relative !important;
  width: 100% !important;
  height: 12px !important;
  border-radius: 6px !important;
  background: #ededed !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-urze .bilometro-sexo {
  display: block !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  transition: width 0.3s ease-out !important;
  border-radius: 6px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-urze .bilometro-muna {
  height: 25px !important;
  font-family: "Open Sans" !important;
  font-weight: normal !important;
  font-size: 14px !important;
  letter-spacing: -0.04em !important;
  text-align: center !important;
  color: #2c2c2c !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-opor {
  display: block;
  padding: 20px !important;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05) inset !important;
  font-size: 20px !important;
  line-height: 1 !important;
  position: relative !important;
  background-color: #fff !important;
  border: 1px solid #eee !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-opor .bilometro-coxo {
  display: block !important;
  font-size: 14px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  height: 30px !important;
  line-height: 30px !important;
  padding: 0px 10px !important;
  border-radius: 2px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
  position: absolute !important;
  top: 14px !important;
  right: 14px !important;
  color: #fff !important;
  font-family: "Open Sans", sans-serif !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-opor .bilometro-lixa {
  font-family: "Open Sans", sans-serif !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-opor.bilometro-bem {
  background-color: rgba(0, 153, 51, 0.1) !important;
  border: 1px solid rgba(0, 153, 51, 0.5) !important;
  color: #009933 !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-opor.bilometro-bem .bilometro-coxo {
  background-color: #009933 !important;
  border: 1px solid #009933 !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-eng {
  align-items: center !important;
  justify-content: center !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  font-size: 20px !important;
  font-weight: normal !important;
  height: 50px !important;
  width: 100% !important;
  max-width: 100% !important;
  text-align: center !important;
  cursor: pointer !important;
  padding: 0px !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
  display: flex;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-eng span {
  font-size: 20px !important;
  font-weight: normal !important;
  line-height: 27px !important;
  height: 30px !important;
  color: #ffffff !important;
  text-transform: none !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi {
  text-align: left !important;
  border-top: 1px solid #e0e0e0 !important;
  padding: 20px 30px 10px !important;
  margin-top: 10px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa * {
  vertical-align: middle !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa .bilometro-atos {
  width: 20px !important;
  height: 20px !important;
  display: inline-block !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa .bilometro-rugi {
  font-family: "Open Sans" !important;
  font-weight: normal !important;
  font-size: 16px !important;
  letter-spacing: -0.04em !important;
  line-height: 24px !important;
  text-align: left !important;
  color: #2c2c2c !important;
  text-transform: none !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa .bilometro-bife {
  color: green !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa .bilometro-bife .bilometro-rugi {
  color: green !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa .bilometro-rele {
  opacity: 0.3 !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa .bilometro-gira {
  color: black !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-gemi .bilometro-casa .bilometro-gira .bilometro-atos {
  animation: class-animate-spin 10000ms linear infinite !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-favo {
  font-family: "Open Sans" !important;
  font-weight: normal !important;
  font-size: 18px !important;
  letter-spacing: -0.04em !important;
  color: #2c2c2c !important;
  border-top: 1px solid #e0e0e0 !important;
  padding: 20px !important;
  text-align: center !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-favo .bilometro-piro {
  display: grid !important;
  margin-top: 20px !important;
  grid-template-columns: auto 190px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-favo .bilometro-piro .bilometro-piao {
  text-align: left !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-favo .bilometro-piro .bilometro-piao img {
  cursor: pointer !important;
  display: inline-block !important;
  width: 41px !important;
  height: 41px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-rafe .bilometro-favo .bilometro-piro .bilometro-cair .bilometro-zas {
  width: 100% !important;
  height: 43px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  font-family: "Open Sans" !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  letter-spacing: -0.04em !important;
  text-align: center !important;
  color: #fff !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-ce {
  display: block;
  margin: 15px 0px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-ce .bilometro-apos {
  display: block !important;
  font-family: "Open Sans" !important;
  font-weight: normal !important;
  font-size: 11px !important;
  letter-spacing: -0.04em !important;
  text-align: center !important;
  color: #2c2c2c !important;
  cursor: pointer !important;
  position: relative !important;
  top: -2px !important;
  text-decoration: none !important;
  text-transform: none !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-ce.bilometro-meto {
  height: 43px !important;
  background: #ededed !important;
  border-radius: 5px !important;
  margin: 15px 25px !important;
  text-transform: uppercase !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-ce.bilometro-meto:hover {
  background: #f6f6f6 !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-ce.bilometro-meto .bilometro-apos {
  font-family: "Open Sans" !important;
  font-weight: normal !important;
  font-size: 15px !important;
  letter-spacing: -0.04em !important;
  text-align: center !important;
  color: #6a6a6a !important;
  height: 15px !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-ce:empty {
  display: none !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-seno {
  padding: 20px !important;
  background-color: #f5f5f5 !important;
}
.bilometro-ovem .bilometro-unhe .bilometro-seno p {
  font-family: "Open Sans", sans-serif !important;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 10px !important;
  color: #999 !important;
}
.bilometro-ovem.bilometro-nata .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-sec {
  margin: 0px 0px 8px 0px !important;
}
.bilometro-ovem.bilometro-eu {
  width: 342px !important;
  top: unset !important;
  transform: unset !important;
  left: unset !important;
  bottom: 36px !important;
  right: 36px !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-tiro {
  padding: 10px !important;
  grid-template-columns: 60px auto !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-tiro .bilometro-nega {
  width: 52px !important;
  height: 52px !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-tiro .bilometro-se {
  font-size: 15px !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-rafe .bilometro-soca {
  padding: 10px 20px 20px !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane {
  margin-bottom: 0px !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-nome {
  font-size: 26px !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-sec {
  font-weight: normal !important;
  font-size: 14px !important;
  margin: 5px 0px 10px !important;
  text-transform: none !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-rafe .bilometro-eng {
  height: 37px !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  margin: 0px !important;
}
.bilometro-ovem.bilometro-eu .bilometro-unhe .bilometro-rafe .bilometro-eng span {
  height: 21px !important;
  line-height: 22px !important;
  text-transform: none !important;
}
.bilometro-ovem.bilometro-caem {
  width: 300px !important;
  top: 15px !important;
  left: 15px !important;
}
.bilometro-ovem.bilometro-caem .bilometro-rafe {
  display: block !important;
}
.bilometro-ovem.bilometro-caem .bilometro-rafe .bilometro-nega {
  display: none !important;
}
.bilometro-ovem.bilometro-caem .bilometro-rafe .bilometro-soca {
  padding: 10px !important;
}
.bilometro-ovem.bilometro-caem .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-nome {
  font-size: 12px !important;
  line-height: 12px !important;
}
.bilometro-ovem.bilometro-caem .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-muro,
.bilometro-ovem.bilometro-caem .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-nane .bilometro-sec {
  font-size: 10px !important;
  line-height: 10px !important;
}
.bilometro-ovem.bilometro-caem .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-gemi .bilometro-casa {
  font-size: 10px !important;
  line-height: 10px !important;
}
.bilometro-ovem.bilometro-caem .bilometro-rafe .bilometro-soca .bilometro-rato .bilometro-eng {
  padding: 0px !important;
  height: 24px !important;
  font-size: 10px !important;
  line-height: 24px!important;
  width: 100px !important;
}
.bilometro-oico {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
  z-index: 2147483646 !important;
  background: rgba(0, 0, 0, 0.7) !important;
  display: none;
}
.bilometro-diga {
  display: none;
}

@keyframes class-animate-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes class-animate-leave {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
.bilometro-pile {
  position: fixed !important;
  right: 20px !important;
  height: 100px !important;
  width: 410px !important;
  z-index: 9999999 !important;
  transition: all 0.3s ease-out !important;
  bottom: 20px;
}
.bilometro-pile .bilometro-vire {
  overflow: hidden !important;
  cursor: pointer !important;
  font-size: 12px !important;
  text-align: left !important;
  height: 100px !important;
  width: 410px !important;
}
.bilometro-pile .bilometro-vire.bilometro-orei {
  animation: class-animate-appear 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
}
.bilometro-pile .bilometro-vire.bilometro-ardi {
  animation: class-animate-leave 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards;
}
.bilometro-pile .bilometro-vire .bilometro-meio {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  width: 30px !important;
  height: 30px !important;
  padding: 1px !important;
  z-index: 20;
  background: rgba(255, 255, 255, 0.05) !important;
}
.bilometro-pile .bilometro-vire .bilometro-meio:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}
.bilometro-pile .bilometro-vire .bilometro-meio img {
  width: 100%;
}
.bilometro-pile .bilometro-vire .bilometro-soca {
  display: grid !important;
  padding: 1px !important;
  grid-template-columns: 98px auto !important;
}
.bilometro-pile .bilometro-vire .bilometro-soca .bilometro-tule {
  background-size: cover !important;
  background-position: center center !important;
  height: 98px !important;
}
.bilometro-pile .bilometro-vire .bilometro-soca .bilometro-rato {
  position: relative !important;
  line-height: 18px !important;
  padding: 10px 30px 10px 30px !important;
}
.bilometro-pile .bilometro-vire .bilometro-soca .bilometro-rato .bilometro-raie {
  position: absolute !important;
  margin: 0px !important;
  width: 0px !important;
  height: 0px !important;
  top: calc((100px/2) - 100px/5) !important;
  left: 0px !important;
  border-top: 100px/5 solid transparent !important;
  border-bottom: 100px/5 solid transparent !important;
  border-left: 100px/5 solid white !important;
}
.bilometro-pile .bilometro-vire .bilometro-soca .bilometro-rato .bilometro-nome {
  color: white !important;
  font-weight: bold !important;
  font-size: 16px !important;
  margin-bottom: 5px !important;
  font-family: Arial, Verdana !important;
  overflow: hidden !important;
  height: 18px !important;
  width: 98% !important;
  text-transform: none !important;
}
.bilometro-pile .bilometro-vire .bilometro-soca .bilometro-rato .bilometro-sec {
  color: white !important;
  font-size: 12px !important;
  font-family: Arial, Verdana !important;
  height: 55px !important;
  overflow: hidden !important;
  text-transform: none !important;
}
