#meliuz-banner{z-index:2147483647 !important;height:24px;color:#242424;font-family:"Hero New";font-size:18px;letter-spacing:0;line-height:24px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:auto;cursor:pointer;margin-bottom:10px}#meliuz-banner .hero-bold{font-weight:bold}#meliuz-banner .logo{float:left;margin-right:8px;width:24px;height:24px}

